<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stremio Catalogs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="static/img/favicon.png">
</head>
<body>
    <h1>Stremio Catalogs</h1>
    <aside>By Justin</aside>
    <hr>
    <h2>About</h2>
    <p>Stremio Catalogs is a Stremio addon that adds more catalogs for movies genres on the homescreen.
        It aims to make the experience more like netflix.
    </p>
    <h2>Installation</h2>
    <p>To install, follow these steps.</p>
    <ol>
        <li>Copy <a href="manifest.json">this link address</a>. (Make sure it ends in manifest.json)</li>
        <li>Open the <b>Stremio app</b> and go to addons.</li>
        <li>Click add a <b>new addon</b>.</li>
        <li>Paste the previous link into <b>addon URL</b>.</li>
        <li>Click <b>add</b>.</li>
    </ol>
</body>
</html>
